body {
    background-image: url(../img/woodBackground.jpg);
}

#pageContainer {
    padding: 30px;
    background-color: rgba(255,255,255,.4);
    border-radius: 15px;
    border: 3px solid white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    width: 380px;
    margin: 0 auto;
}

#menu {
    margin: 10px auto;
    width: 350px;
    text-align: center;
}

#menu h2 {
    border: 3px solid;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    
    border-color: goldenrod;
    background-color: #452F1D;
    color: #F2C24E;
    font-size: 34px;
}

#menu div {
    border: 2px solid black;
    margin: 0 15px;
    padding-top: 5px;
    margin-top: -0px;
    
    border-top: none;
    padding-bottom: 20px;
    border-top-color: #000;
    
    border-color: #452F1D;
    background: url(../img/woodInlay.jpg);
    background-size: auto 100%;
    color: #452F1D;
}

#menu h3 {
    font-size: 150%;
    margin-bottom: 5px
}

#menu input {
    font-size: 150%;
    text-align: center;
}

#menu button {
    font-size: 150%;
    border-radius: 10px;
    margin-top: 10px;
}