body {
    
}

#pageContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    border: 3px solid black;
    width: 350px;
    height: 150px;
    margin: 0 auto;
}

#menu {
    margin: 0 auto;
    width: 350px;
    text-align: center;
}

#menu h2 {
    border: 3px solid;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    
    border-color: #003787;
    background-color: #81a9ff;
    color: darkblue;
    font-size: 34px;
}

#menu div {
    border: 2px solid black;
    margin: 0 15px;
    padding-top: 5px;
    margin-top: -0px;
    
    border-top: none;
    padding-bottom: 20px;
    border-top-color: #000;
}

#menu h3 {
    font-size: 150%;
    margin-bottom: 5px
}

#menu input {
    font-size: 150%;
    text-align: center;
}

#menu button {
    font-size: 150%;
    border-radius: 10px;
    margin-top: 10px;
}