body {
    text-align: center;
}

#charactersDiv {
    margin: 0 auto;
    width: 400px;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    position: inherit;
}

.character {
    height: 100px;
    margin: 10px auto;
    border: 2px solid red;
}

.enemy {
    background-color: indianred;
}

#charSelectDiv{
  width: 400px;
  height: 150px;
  border: 2px solid black;
  background-color: white;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -200px;
  display: none;
}

#charSelectDiv .vertCenter{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#charSelectDiv #charSelector{
  min-width: 150px;
}