doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Turn-Table(top)
    script(type='text/javascript', src='/assets/js/jquery-2.2.2.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/assets/js/roomHandler.js')
    script(type='text/javascript', src='/assets/js/jquery-ui.min.js')
    link(rel='stylesheet', type='text/css', href='/assets/style/roomStyle.css')
  body
    #charactersDiv
      .character
        h2 Test Character 1
      .character
        h2 Test Character 2
      .character
        h2 Test Character 3